body {
    background-color: rgb(243, 230, 255);
}

h1 {
    color: darkseagreen;


}

img.profile-image {
    height: 300px;
    border-radius: 25px;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}